<a href="https://colab.research.google.com/github/FranJovel10/Progra-III/blob/main/fundamentos_de_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo")
nombre = "Fran"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[3])

Hola mundo
Hola  Fran , inicial:  F n

In [ ]:
def convertir_f(f):
    return round ((f - 32) * 5 / 9, 1)

f = float(input("Fahrenheit: "))
print("Celsius: ", convertir_f(f))

Fahrenheit: 32
Celsius:  0.0

In [ ]:
def celsius_a_kelvin(c):
    return c + 273.15

def fahrenheit_a_kelvin(f):
    return (f - 32) * 5 / 9 + 273.15

tipo = input("¿Qué tipo de grados vas a introducir? (1 para Celsius, 2 para Fahrenheit): ").strip().upper()

if tipo == "1":
    c = float(input("Celsius: "))
    print("Kelvin: ", round(celsius_a_kelvin(c), 2))
elif tipo == "2":
    f = float(input("Fahrenheit: "))
    print("Kelvin: ", round(fahrenheit_a_kelvin(f), 2))
else:
    print("Tipo no válido. Introduce 1 para Celsius o 2 para Fahrenheit.")

¿Qué tipo de grados vas a introducir? (1 para Celsius, 2 para Fahrenheit): 2
Fahrenheit: 315
Kelvin:  430.37

In [ ]:
def elevarCuadrado(base, exponente):
  return base**exponente
num = int (input("num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

Ejercicio: obtener la raiz cuadrada de una serie de numeros fijos

In [ ]:
import math

numeros = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
raices_cuadradas = [int(math.sqrt(num)) for num in numeros]

for num, raiz in zip(numeros, raices_cuadradas):
    print(f'La raíz cuadrada de {num} es {raiz}')

La raíz cuadrada de 1 es 1
La raíz cuadrada de 4 es 2
La raíz cuadrada de 9 es 3
La raíz cuadrada de 16 es 4
La raíz cuadrada de 25 es 5
La raíz cuadrada de 36 es 6
La raíz cuadrada de 49 es 7
La raíz cuadrada de 64 es 8
La raíz cuadrada de 81 es 9
La raíz cuadrada de 100 es 10

Ejercicios preconstruidos en phyton

Map

In [1]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
numeros = [1,2,3,4,5,6,7,8,9, 10]
ntabla = int(input("Tabla: "))
print(list(map(lambda n: n*ntabla, numeros)))

Tabla: 3
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

FILTER

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros)))
print("Impares: ", list(filter(lambda n: n%2!=0, numeros)))

In [ ]:
notas = [8,4,9,10,7,6,9,10,2,3,1,8,2,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

REDUCE

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

TUPLAS

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

In [6]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces repite domingo: ",semana.count("domingo"), "; dias de la semana: ", len(semana))

Primer dia:  domingo ; Cuantas veces repite domingo:  1 ; dias de la seman:  7

In [7]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo","lunes","martes","miercoles","jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ", year)

Fecha:  miercoles 14  de  septiembre  del  2024

In [ ]:
tuplas = ("Luis","Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no puede cambiar su valor.
print(tuplas)

listas = ["Luis","Juan"]
listas[0] = "Pedro" #Las listas son mutables, si puede cambiar su valor.
print(listas)

LISTAS

In [ ]:
listas = [5,8,7,9,"Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

In [ ]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [ ]:
matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 8] ] #8*0.3=2.4 + 9*0.3=2.7 + 8*0.3=2.4
functools.reduce(obtenerNota, matriz, 0)

In [ ]:
serie = [1,2,3,3,4,4,1,8,9]
print(serie.count(1))

In [ ]:
numeros = []
for i in range(1,10):
  numeros.append(int(input("Num: "+ str(i)+": ")))
num = int(input("Num a buscar: "))
print("Serie: ", numeros, "El numero ", num, ", se repite: ", numeros.count(num))

In [ ]:
numeros = [1,5,2,6,2,1,4]
numeros.sort()
numeros.reverse()
print(numeros)

DICCIONARIO JSON

In [ ]:
datos = {
    "codigo":"USIS018804",
    "nombre":"Luis Hernandez",
    "materias":[
        {"codigo":"611","nombre":"Programacion III","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10},
            "c2":{"lab1":10,"lab2":9,"parcial":10},
            "c3":{"lab1":4,"lab2":5,"parcial":8}
            }
         },
        {"codigo":"612","nombre":"Base de Datos"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["c1"])

ESTRUCTURAS DE CONTROL

if ejercicio: solicitar al usuario la edad y determinar su clacificacion

In [11]:
edad = int(input("Edad: "))
if edad>17:
  print("Ya te van a correr tus padres")

Edad: 19
Ya te van a correr tus padres

In [48]:
continuar = "s"
while continuar== "s":
  edad =  int (input("Edad: "))
  if edad<0:
  print("Edad incorrecta")

  elif edad<=2:
  print("Eres un bebe")
  elif edad<12:
  print("Eres un niño")
  elif edad<18:
  print("Eres un adolscente")
  elif edad<65:
  print("Eres un adulto")
  elif edad<85:
  print("Eres un adulto mayor")
  else:
  print("Larga vida")

IndentationError: expected an indented block after 'if' statement on line 4 (<ipython-input-48-a17c364dd5ce>, line 5)

Solicitar un numero al usuario si es positivo o negativo

In [28]:
numero = int(input("Introduce un número: "))

if numero > 0:
  print("El número es positivo.")
elif numero < 0:
  print("El número es negativo.")
else:
  print("El número es cero.")

Introduce un número: 0
El número es cero.

In [ ]:
continuar="s"
while continuar=="s":
  tabla = int(input("Tabla: "))
  for i in range(1,11):
    print(tabla, "x", i, "=", tabla*i)
    continuar = input("Continuar s, sino cualquier teclas: ")

55 x 1 = 55
55 x 2 = 110